<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Math Can Be Funny!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/Pi.jpg" alt="Funny Pi" />
      <ion-card-header>
        <ion-card-subtitle>Take a breather: Life is hard enough.</ion-card-subtitle>
        <ion-card-title>Welcome to A Fun Little Read</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Solving a math problem can leave you thinking, "I'm a genius!" or wondering, "I have no idea what I just did!?"</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="http://localhost:8100/toc">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Lets get started reading</ion-label>
      </ion-item>
      

      </ion-list>
</ion-content>
